
.container {
    text-align: center;
    padding: 20px;
  }
  .heading-border {
    border: 5px solid orange;            
    display: inline-block;     
    padding-top: 10px;
    padding-bottom: 10px;    
    text-align: center;        
    font-size: 24px;           
    width:99%;          
  }
 
  .table {
    width: 100%;
    border-collapse: collapse;
  
  }
  
  .header {
    border: 5px solid orange;
    border-bottom: none;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-spacing: 10px;
    
  }
  
  .result {
    border: 5px solid orange;
    border-bottom: none;
    border-top: none;
    text-align: center;
    padding: 20px;
    font-size: 18px;
   
    
  }
  
  .target-animal {
    border: 5px solid orange;
    border-bottom: none;
    border-top: none;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: orange;
  }
  
  .animal-grid {
    border: 5px solid orange;
    border-bottom: none;
    border-top: none;
    padding: 10px;
    background-color: steelblue;
  }
  
  /* Grid for Animal Images */
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .card {
    padding: 10px;
    cursor: pointer;
  }
  
  .image {
    width: 60%;
    height: 100px;
    
  }
  
  table {
    border-collapse: collapse; 
    border-color: orange;
  }

  